# APPLICATION CONFIG
APP_ENV=local
APP_NAME=WebphoneClinet
APP_KEY=base64:kpvQ6hLQydHP0E/36GvH+yxZacZp+ykK+p4WXgdrBjI=
APP_DEBUG=true
APP_URL=http://localhost:8000

# DATABASE CONFIG
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=webphone-client
DB_USERNAME=root
DB_PASSWORD=

# WEBPHONE OPTIONS
WssServer="192.168.1.61"
WebSocketPort=8089
SipUsername=3007
SipPassword="pass3007"
Licence=VOIPIRAN_v024T8otR6E5fB30fSP1GROoIB0jC79ct3cxXX65y690y2EfK3q4Q1JG324D013925BoJnrV2qp0M17yPILP7mdA964G6396NjdZ98LJjuRbdf1VrentdAk89b23Hcgp5oTY97454vq6gqw292L1E768OCi0sjzOjx3vs4SsD2qo9OTQk3lp1mJyzACYg9B